@charset "UTF-8";
body {
  padding: 0;
  line-height: 1.5;
  width: 500px;
  margin: auto;
  font-family: "Cormorant SC", serif;
}

.header {
  margin: auto;
  font-size: 15px;
}

.header-phone {
  font-weight: bold;
  font-size: 15px;
  margin: 30px 0 0 390px;
}

.logo-white {
  width: 200px;
  margin: 0 0 0 150px;
}

.menu {
  font-weight: bold;
  margin: 0 0 10px 10px;
  align-content: left;
  font-size: 20px;
}
.menu__item {
  margin: 20px;
  text-decoration: none;
  margin-bottom: 15px;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  cursor: pointer;
  margin: 20px;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}

a:visited {
  text-decoration: underline;
  color: black;
}

.photo {
  background-image: url(/images/Interior11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 20px;
}
.photo__main-offer {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.photo__link-menu {
  text-decoration: none;
  background-color: rgba(233, 150, 122, 0.7);
  font-size: 40px;
  color: black;
  font-weight: bold;
  margin: 20px 300px 10px -20px;
  padding: 8px;
}
.photo__link-reservation {
  text-decoration: none;
  font-size: 40px;
  color: black;
  font-weight: bold;
  margin: 20px 110px 10px -20px;
  padding: 0;
  background-color: rgba(233, 150, 122, 0.7);
}

@media screen and (min-width: 640px) {
  body {
    width: 900px;
  }

  .header-phone {
    font-weight: bold;
    font-size: 25px;
    margin: 30px 0 0 720px;
  }

  .logo-white {
    width: 250px;
    margin: 0 0 0 320px;
  }

  .menu {
    margin: 0 0 20px 20px;
    font-size: 30px;
  }

  .photo {
    padding: 300px 20px;
  }
  .photo__link-menu {
    font-size: 50px;
    margin: 20px 700px 10px -20px;
  }
  .photo__link-reservation {
    font-size: 50px;
    margin: 20px 450px 10px -20px;
  }
}
@media screen and (min-width: 1040px) {
  body {
    width: 1400px;
  }

  .header-phone {
    font-size: 35px;
    margin: 30px 0 0 1150px;
  }

  .logo-white {
    margin: 30px 0 0 30px;
  }

  .menu {
    margin: 130px 0 20px 0;
    font-size: 35px;
  }
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: inline-block;
    text-decoration: none;
  }

  .menu li {
    display: inline-block;
    text-decoration: none;
  }

  .menu a {
    color: #242424;
    text-decoration: none;
    padding: 10px 15px;
  }

  .menu a:hover {
    text-decoration: underline;
    color: darksalmon;
  }

  .header-pc-version {
    padding: 0 0 20px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .photo {
    width: 100%;
  }
  .photo__link-menu {
    font-size: 60px;
    margin: 20px 1100px 10px -20px;
    padding-left: 20px;
  }
  .photo__link-reservation {
    font-size: 60px;
    margin: 20px 830px 10px -20px;
    padding-left: 20px;
  }
}
.welcome {
  font-family: "Cormorant SC", serif;
  text-align: center;
}
.welcome__title {
  font-size: 25px;
  margin: 10px 0 10px 0;
}
.welcome__name {
  font-size: 60px;
  font-family: "Zen Loop", cursive;
  margin: 0;
}
.welcome__offer {
  font-size: 20px;
  margin: 0 0 30px 0;
}

@media screen and (min-width: 640px) {
  .welcome__title {
    font-size: 35px;
    margin: 10px 0 10px 0;
  }
  .welcome__name {
    font-size: 70px;
  }
  .welcome__offer {
    font-size: 30px;
  }
}
@media screen and (min-width: 1040px) {
  .welcome__title {
    font-size: 50px;
  }
  .welcome__name {
    font-size: 90px;
  }
  .welcome__offer {
    font-size: 40px;
  }
}
.box1 {
  background-color: rgba(233, 150, 122, 0.2);
  margin: 30px 0 20px 0;
  width: 500px;
  padding: 20px;
}

.presented__title {
  font-size: 25px;
  text-align: center;
}

.presented__description {
  font-size: 15px;
  padding: 5px 50px 5px 50px;
}

@media screen and (min-width: 640px) {
  .box1 {
    width: 900px;
  }

  .presented__title {
    font-size: 35px;
    margin: 10px 0 10px 0;
  }

  .presented__description {
    font-size: 25px;
  }
}
@media screen and (min-width: 1040px) {
  .box1 {
    width: 1400px;
  }

  .presented__title {
    font-size: 50px;
  }

  .presented__description {
    font-size: 30px;
  }
}
.event__title {
  text-align: center;
  font-size: 25px;
}
.event__prosecco {
  background-image: url(/images/Prosecco.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  margin: 0 30px 20px 30px;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}
.event__prosecco-name, .event__prosecco-date {
  font-size: 17px;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 20px;
  text-align: center;
  color: black;
  margin: 0;
  background-color: rgba(233, 150, 122, 0.7);
}
.event__photo-prosecco, .event__photo-coffee, .event__photo-food, .event__photo-birthday {
  display: none;
}
.event__prosecco-date {
  padding-bottom: 10px;
}
.event__coffee {
  background-image: url(/images/Coffee4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  margin: 0 30px 0 30px;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}
.event__coffee-name, .event__coffee-date {
  font-size: 17px;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 20px;
  text-align: center;
  color: black;
  margin: 0;
  background-color: rgba(233, 150, 122, 0.7);
}
.event__coffee-date {
  padding-bottom: 10px;
}
.event__food {
  background-image: url(/images/chléb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  margin: 20px 30px 20px 30px;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}
.event__food-name, .event__food-date {
  font-size: 17px;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 20px;
  text-align: center;
  color: black;
  margin: 0;
  background-color: rgba(233, 150, 122, 0.7);
}
.event__food-date {
  padding-bottom: 10px;
}
.event__birthday {
  background-image: url(/images/Drink.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 10px;
  margin: 20px 30px 20px 30px;
  border-radius: 5px;
  max-width: 100%;
  height: auto;
}
.event__birthday-name, .event__birthday-date {
  font-size: 17px;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 20px;
  text-align: center;
  color: black;
  margin: 0;
  background-color: rgba(233, 150, 122, 0.7);
}
.event__birthday-date {
  padding-bottom: 10px;
}

.prosecco-link,
.coffee-link,
.food-link,
.birthday-link {
  text-decoration: none;
}

@media screen and (min-width: 640px) {
  .event__title {
    font-size: 35px;
  }
  .event__prosecco {
    margin: 0 150px 20px 150px;
  }
  .event__prosecco-name, .event__prosecco-date {
    font-size: 24px;
  }
  .event__coffee {
    margin: 0 150px 20px 150px;
  }
  .event__coffee-name, .event__coffee-date {
    font-size: 24px;
  }
  .event__food {
    margin: 0 150px 20px 150px;
  }
  .event__food-name, .event__food-date {
    font-size: 24px;
  }
  .event__birthday {
    margin: 0 150px 20px 150px;
  }
  .event__birthday-name, .event__birthday-date {
    font-size: 24px;
  }
}
@media screen and (min-width: 1040px) {
  .event__flex-box {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 20px 0 20px;
  }
  .event__title {
    font-size: 50px;
  }
  .event__prosecco {
    background-image: none;
    width: 20%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .event__photo-prosecco {
    width: 100%;
    display: block;
    transition: transform 0.5s;
  }
  .event__prosecco-description {
    padding: 20px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    transition: transform 0.5s;
  }
  .event__prosecco-description a {
    color: white;
  }
  .event__prosecco-description h3, .event p {
    margin: 0;
    color: white;
    font-size: 20px;
  }
  .event__prosecco:hover .event__prosecco-description {
    transform: translateY(-100%);
  }
  .event__prosecco:hover .event__photo-prosecco {
    transform: scale(1.1);
  }
  .event__coffee {
    background-image: none;
    max-width: 20%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .event__photo-coffee {
    width: 100%;
    display: block;
    transition: transform 0.5s;
  }
  .event__coffee-description {
    padding: 20px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    transition: transform 0.5s;
  }
  .event__coffee-description a {
    color: white;
  }
  .event__coffee-description h3, .event p {
    margin: 0;
    color: white;
    font-size: 20px;
  }
  .event__coffee:hover .event__coffee-description {
    transform: translateY(-100%);
  }
  .event__coffee:hover .event__photo-coffee {
    transform: scale(1.1);
  }
  .event__food {
    background-image: none;
    max-width: 20%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .event__photo-food {
    width: 100%;
    display: block;
    transition: transform 0.5s;
  }
  .event__food-description {
    padding: 20px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    transition: transform 0.5s;
  }
  .event__food-description a {
    color: white;
  }
  .event__food-description h3, .event p {
    margin: 0;
    color: white;
    font-size: 20px;
  }
  .event__food:hover .event__food-description {
    transform: translateY(-100%);
  }
  .event__food:hover .event__photo-food {
    transform: scale(1.1);
  }
  .event__birthday {
    background-image: none;
    max-width: 20%;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .event__photo-birthday {
    width: 100%;
    height: 92%;
    display: block;
    transition: transform 0.5s;
  }
  .event__birthday-description {
    padding: 20px;
    color: white;
    text-align: center;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    transition: transform 0.5s;
  }
  .event__birthday-description a {
    color: white;
  }
  .event__birthday-description h3, .event p {
    margin: 0;
    color: white;
    font-size: 20px;
  }
  .event__birthday:hover .event__birthday-description {
    transform: translateY(-100%);
  }
  .event__birthday:hover .event__photo-birthday {
    transform: scale(1.1);
  }
}
.contact {
  background-color: rgba(233, 150, 122, 0.2);
  margin-bottom: 20px;
}
.contact__title {
  font-size: 30px;
  padding: 15px 0 0 0;
  text-align: center;
}
.contact__address {
  text-align: center;
  margin: 0;
  font-size: 18px;
}
.contact__email {
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 18px;
  text-decoration: none;
}
.contact__phone {
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 18px;
}

.social-network {
  text-align: center;
  margin: 10px;
}

.instagram {
  width: 5%;
}

.facebook {
  width: 5%;
}

@media screen and (min-width: 640px) {
  .contact__title {
    font-size: 40px;
  }
  .contact__address {
    font-size: 25px;
  }
  .contact__email {
    font-size: 25px;
  }
  .contact__phone {
    font-size: 25px;
  }

  .social-network {
    margin: 30px;
  }

  .instagram {
    width: 8%;
  }

  .facebook {
    width: 8%;
  }
}
@media screen and (min-width: 1040px) {
  .instagram {
    width: 3%;
  }

  .facebook {
    width: 3%;
  }
}
.offer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 10px 30px 10px 30px;
}

.accessories__gifts {
  text-align: center;
  font-size: 25px;
}
.accessories__bag {
  border-radius: 5px;
  margin: 0 40px 0 0;
  width: 200px;
}
.accessories__title {
  text-align: left;
  margin: 0;
}
.accessories__price {
  text-align: left;
  margin-top: 0;
}
.accessories__offer {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  background-image: url(/images/0tin_mug.jpg);
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}
.accessories__offer-desc {
  margin-top: 120px;
  font-size: 15px;
}
.accessories__tin {
  display: none;
}
.accessories__tin-title {
  display: none;
}
.accessories__tin-price {
  display: none;
}

@media screen and (min-width: 640px) {
  .offer {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    margin: 10px 30px 10px 30px;
  }

  .accessories__gifts {
    font-size: 35px;
  }
  .accessories__bag {
    margin: 0 40px 0 30px;
    width: 300px;
  }
  .accessories__title {
    font-size: 25px;
    font-weight: bold;
    margin: 5px 0 0 30px;
  }
  .accessories__price {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0 30px;
  }
  .accessories__offer {
    font-size: 30px;
    padding: 0;
    margin: 5px 20px 20px 60px;
    color: white;
  }
  .accessories__offer-desc {
    margin-top: 120px;
    font-size: 30px;
    padding: 40px 40px 40px 10px;
  }
}
@media screen and (min-width: 1040px) {
  .accessories {
    width: 1400px;
  }
  .accessories .offer-box {
    display: flex;
    flex-direction: row-reverse;
  }
  .accessories__gifts {
    font-size: 50px;
  }
  .accessories__bag {
    width: 320px;
    margin: 0 0 0 -10px;
  }
  .accessories__title {
    font-size: 30px;
    margin: 20px 0 0 -10px;
  }
  .accessories__price {
    font-size: 25px;
    margin-left: -10px;
  }
  .accessories__offer {
    width: 300px;
    margin: 0;
  }
  .accessories__offer-desc {
    font-size: 25px;
    margin: 80px 40px;
    color: white;
  }
  .accessories__tin {
    display: block;
    border-radius: 5px;
    margin: 5px 0 0 5px;
    width: 350px;
  }
  .accessories__tin-title {
    display: block;
    margin: 20px 0 0 0;
    font-size: 30px;
    font-weight: bold;
  }
  .accessories__tin-price {
    display: block;
    font-size: 25px;
    margin: 0;
    font-weight: bold;
  }

  .accessories-box {
    padding-top: 40px;
  }

  .accessories__bag:hover {
    transform: scale(1.1);
  }

  .accessories__tin:hover {
    transform: scale(1.1);
  }
}
.reservation-title {
  text-align: center;
  font-size: 25px;
}

.form-field {
  margin: 10px 30px 10px 30px;
}

.form-field label {
  display: block;
  font-size: 17px;
}

.confirm-reservation {
  margin: 20px 50px 30px 190px;
}

.reguired {
  color: red;
}

.reservation {
  padding: 80px;
  margin: 30px 20px 30px 20px;
  border-radius: 5px;
  background-color: rgba(233, 150, 122, 0.2);
}

.gdpr {
  margin-left: 30px;
}

.form-field input {
  width: 80%;
}

@media screen and (min-width: 640px) {
  .reservation-title {
    font-size: 35px;
  }

  .form-field {
    margin: 10px 30px 10px 170px;
  }

  .form-field label {
    font-size: 25px;
  }

  .confirm-reservation {
    margin: 20px 50px 30px 400px;
  }

  .gdpr {
    margin-left: 170px;
  }
}
@media screen and (min-width: 1040px) {
  .reservation-title {
    text-align: center;
    font-size: 50px;
  }

  .form-field {
    margin: 10px 300px 10px 500px;
  }

  .form-field label {
    font-size: 27px;
  }

  .confirm-reservation {
    margin: 20px 100px 30px 650px;
  }

  .gdpr {
    margin-left: 500px;
  }

  .form-field input {
    width: 70%;
  }
}
.reservation-title {
  font-size: 25px;
}

.reservation__thanks,
.reservation__mail {
  text-align: center;
  font-size: 20px;
}

.reservation__back {
  margin: 20px 50px 0 90px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  padding: 10px;
}

@media screen and (min-width: 640px) {
  .reservation-title {
    font-size: 35px;
  }

  .reservation {
    margin: 90px;
    padding: 20px;
  }

  .reservation__thanks,
.reservation__mail {
    font-size: 40px;
  }

  .reservation__back {
    margin: 20px 50px 20px 270px;
  }
}
@media screen and (min-width: 1040px) {
  .reservation-title {
    font-size: 50px;
  }

  .reservation {
    margin: 170px;
  }

  .reservation__thanks,
.reservation__mail {
    font-size: 40px;
  }

  .reservation__back {
    margin: 20px 90px 60px 400px;
    font-size: 30px;
    padding: 10px;
  }
}
.opening1 {
  display: flex;
  margin: 0;
}
.opening1__photo-interior {
  width: 250px;
  padding: 0;
}

.opening {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: rgba(233, 150, 122, 0.2);
}
.opening__title {
  margin: 10px 0 0 20px;
}
.opening__description {
  margin: 0 0 10px 20px;
}
.opening__date {
  margin: 0 0 0 20px;
}
.opening__date-date {
  margin: 0 0 10px 20px;
}

@media screen and (min-width: 640px) {
  .opening1__photo-interior {
    width: 450px;
  }

  .opening {
    width: 450px;
  }
  .opening__title {
    font-size: 40px;
  }
  .opening__description {
    font-size: 25px;
  }
  .opening__date {
    font-size: 20px;
  }
  .opening__date-date {
    font-size: 20px;
  }
}
@media screen and (min-width: 1040px) {
  .opening1__photo-interior {
    width: 700px;
  }

  .opening {
    width: 700px;
  }
  .opening__title {
    font-size: 40px;
    margin: 40px 0 0 50px;
  }
  .opening__description {
    font-size: 25px;
    margin: 0 0 0 50px;
  }
  .opening__date {
    font-size: 20px;
    margin: 30px 0 0 50px;
  }
  .opening__date-date {
    font-size: 20px;
    margin: 0 0 0 50px;
  }
}
.footer {
  color: black;
  background-color: rgba(233, 150, 122, 0.2);
  text-align: center;
  margin: auto;
  font-family: "Zen Loop", cursive;
  font-size: 9px;
  font-weight: bold;
}
.footer__summary {
  display: flex;
}
.footer__logo-white {
  width: 100px;
  margin: 10px 30px 0px 40px;
}
.footer__contact {
  font-size: 8px;
  margin: 30px 30px 0px 50px;
}
.footer__contact-address-street {
  margin: 0;
}
.footer__contact-address-town {
  margin: 0;
}
.footer__contact-link {
  margin-bottom: 0;
}
.footer__contact-phone {
  margin-top: 0;
  margin-bottom: 0;
}
.footer__hours {
  font-size: 8px;
  margin: 40px 20px 0px 50px;
}
.footer__hours-open-week {
  margin: 0;
}
.footer__hours-open-weekend {
  margin: 0;
}
.footer__name, .footer__since {
  margin: 0;
}

@media screen and (min-width: 640px) {
  .footer {
    font-size: 15px;
  }
  .footer__logo-white {
    width: 150px;
    margin: 10px 30px 0px 60px;
  }
  .footer__contact {
    font-size: 15px;
    margin: 30px 30px 0px 150px;
  }
  .footer__hours {
    font-size: 15px;
    margin: 40px 20px 0px 150px;
  }
}
@media screen and (min-width: 1040px) {
  .footer {
    font-size: 15px;
  }
  .footer__logo-white {
    width: 150px;
    margin: 15px 30px 0px 50px;
  }
  .footer__contact {
    font-size: 15px;
    margin: 30px 30px 0px 410px;
  }
  .footer__hours {
    font-size: 15px;
    margin: 60px 30px 0px 400px;
  }
}
.offer-title {
  text-align: center;
  color: black;
  font-size: 25px;
}

.offer__box {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 10px 30px;
}
.offer__meal {
  margin: 0 0 0 30px;
  font-size: 16px;
  color: black;
}
.offer__line {
  margin: 0 30px 0 30px;
}
.offer__description, .offer__price {
  margin: 0 20px 20px 0;
  color: black;
  font-size: 15px;
}
.offer__h5 {
  text-align: center;
  color: black;
  font-size: 20px;
}
.offer__coffee-title, .offer__coffee-price {
  margin: 0 20px 5px 0;
  color: black;
}
.offer__hot-title, .offer__hot-price {
  margin: 0 20px 5px 0;
  color: black;
  font-size: 15px;
}
.offer__softd-title, .offer__softd-price {
  margin: 0 20px 5px 0;
  color: black;
  font-size: 15px;
}
.offer__alcohol-title, .offer__alcohol-price {
  margin: 0 20px 5px 0;
  color: black;
  font-size: 15px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
  margin: 20px;
}
.gallery__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.gallery__item:first-child(5n+2) {
  grid-column: span 1;
  grid-row: span 1;
}

@media screen and (min-width: 640px) {
  .offer-title {
    font-size: 35px;
  }

  .offer__meal {
    font-size: 25px;
  }

  .offer__description,
.offer__price {
    font-size: 20px;
  }

  .offer__h5 {
    font-size: 25px;
  }

  .offer__coffee-title,
.offer__coffee-price {
    font-size: 20px;
  }

  .offer__hot-title,
.offer__hot-price {
    font-size: 20px;
  }

  .offer__softd-title,
.offer__softd-price {
    font-size: 18px;
  }

  .offer__alcohol-title,
.offer__alcohol-price {
    font-size: 18px;
  }

  .gallery__grid {
    gap: 5px;
    margin: 90px;
  }
  .gallery__item {
    width: 200px;
  }
}
@media screen and (min-width: 1040px) {
  .offer__title {
    font-size: 50px;
  }
  .offer__meal {
    font-size: 30px;
  }
  .offer__description, .offer__price {
    font-size: 25px;
  }
  .offer__h5 {
    font-size: 40px;
  }
  .offer__coffee-title, .offer__coffee-price {
    font-size: 25px;
  }
  .offer__hot-title, .offer__hot-price {
    font-size: 25px;
  }
  .offer__softd-title, .offer__softd-price {
    font-size: 25px;
  }
  .offer__alcohol-title, .offer__alcohol-price {
    font-size: 25px;
  }

  .gallery__grid {
    grid-auto-rows: 500px;
    gap: 40px;
    margin: 0;
  }
  .gallery__item {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 5px;
  }

  .coffee:hover {
    transform: scale(1.1);
  }

  .pancake:hover {
    transform: scale(1.1);
  }

  .coffee1:hover {
    transform: scale(1.1);
  }

  .fruits:hover {
    transform: scale(1.1);
  }

  .bread:hover {
    transform: scale(1.1);
  }

  .oatmeal:hover {
    transform: scale(1.1);
  }
}
.second-header-phone {
  font-weight: bold;
  font-size: 15px;
  margin: 0 0 0 390px;
}

.logo-orange {
  width: 30%;
  border-radius: 90%;
  margin: 20px 180px 0 170px;
}

.menu-background-main {
  background-image: url(/images/Cinnamon-Rolls.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.second-menu__mobile {
  font-weight: bold;
  margin: 0 0 20px 0;
  font-size: 25px;
  background-color: rgba(233, 150, 122, 0.8);
  padding: 0;
}

.second-menu {
  font-weight: bold;
  margin: 0 0 20px 20px;
  align-content: left;
  margin: 0;
  font-size: 20px;
  color: white;
}
.second-menu__item {
  margin: 20px;
  text-decoration: none;
  margin-bottom: 15px;
}
.second-menu__checkbox {
  position: absolute;
  left: -9999px;
}
.second-menu__toggler {
  cursor: pointer;
  margin: 20px;
}
.second-menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.second-menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
}
.second-menu__checkbox:checked ~ .second-menu__list {
  display: block;
}

a:visited {
  text-decoration: underline;
  color: black;
}

.menu-background-second {
  background-color: rgba(233, 150, 122, 0.8);
  padding: 15px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.menu__title {
  margin: 10px 140px 10px 140px;
  font-size: 30px;
}

@media screen and (min-width: 640px) {
  .second-header-phone {
    font-size: 25px;
    margin: 0 0 0 720px;
  }

  .logo-orange {
    width: 350px;
    margin: 20px 180px 0 260px;
  }

  .second-menu {
    margin: 0 0 20px 30px;
    font-size: 40px;
  }

  .menu-background-second {
    padding: 30px;
    margin: 30px 30px 0 30px;
  }
}
@media screen and (min-width: 1040px) {
  .second-header-phone {
    font-size: 35px;
    margin: 0 0 0 1160px;
  }

  .logo-orange {
    width: 250px;
    margin: 50px 0 20px 100px;
  }

  .second-menu {
    margin: 120px 130px 0 0;
    font-size: 30px;
  }
  .second-menu__toggler {
    display: none;
  }
  .second-menu__list {
    display: inline-block;
  }
  .second-menu__link {
    color: black;
    padding: 10px 15px;
    background-color: rgba(233, 150, 122, 0.8);
    font-size: 25px;
    border-radius: 10px;
  }

  .second-menu li {
    display: inline-block;
    text-decoration: none;
  }

  .second-menu a:hover {
    text-decoration: underline;
    color: white;
  }

  .menu-background-second {
    background-color: rgba(233, 150, 122, 0.8);
    padding: 60px;
    margin: 0 90px 0 90px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
  }
}
.events__main-title {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
.events__photo-prosecco, .events__photo-coffee, .events__photo-bread, .events__photo-drink {
  display: none;
}
.events__title-prosecco, .events__title-coffee, .events__title-bread, .events__title-drink {
  text-align: center;
  font-size: 23px;
  margin: 20px 0;
}
.events__date-prosecco, .events__date-coffee, .events__date-bread, .events__date-drink {
  text-align: center;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
}
.events__descriptions-prosecco, .events__descriptions-coffee, .events__descriptions-bread, .events__descriptions-drink {
  text-align: center;
  padding: 10px;
  margin: 0;
  font-weight: bold;
  font-size: 15px;
}

.events-line1 {
  margin: 0 30px 3px 30px;
}

.events-line2 {
  margin: 0 50px 5px 50px;
}

@media screen and (min-width: 640px) {
  .events__main-title {
    font-size: 35px;
  }
  .events__title-prosecco, .events__title-coffee, .events__title-bread, .events__title-drink {
    font-size: 28px;
  }
  .events__date-prosecco, .events__date-coffee, .events__date-bread, .events__date-drink {
    font-size: 25px;
  }
  .events__descriptions-prosecco, .events__descriptions-coffee, .events__descriptions-bread, .events__descriptions-drink {
    font-size: 20px;
  }

  .events-line1 {
    margin: 0 30px 10px 30px;
  }

  .events-line2 {
    margin: 0 50px 8px 50px;
  }
}
@media screen and (min-width: 1040px) {
  .events__main-title {
    font-size: 50px;
  }
  .events__title-prosecco, .events__title-coffee, .events__title-bread, .events__title-drink {
    font-size: 35px;
  }
  .events__date-prosecco, .events__date-coffee, .events__date-bread, .events__date-drink {
    font-size: 30px;
  }
  .events__descriptions-prosecco, .events__descriptions-coffee, .events__descriptions-bread, .events__descriptions-drink {
    font-size: 25px;
  }
}
.gifts-title {
  text-align: center;
  font-size: 25px;
}

.gift1 {
  display: flex;
  margin: 5px 10px 5px 30px;
}
.gift1__bag {
  width: 150px;
  padding: 0 0px 60px 0px;
  margin-right: 10px;
}
.gift1__title {
  margin: 10px 0 5px 10px;
  font-size: 20px;
}
.gift1__price {
  margin: 0 0 0 10px;
  font-size: 15px;
}
.gift1__line {
  margin: 5px 150px 5px 10px;
}
.gift1__description {
  margin: 0 10px 0 10px;
  font-size: 15px;
}

.gift2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 30px 5px 10px;
}
.gift2__hoodie {
  width: 150px;
  padding: 0 0px 60px 0px;
  margin-right: 10px;
}
.gift2__title {
  margin: 10px 0 0 20px;
  font-size: 20px;
}
.gift2__price {
  margin: 0 0 0 20px;
  font-size: 15px;
}
.gift2__line {
  margin: 5px 150px 5px 22px;
}
.gift2__description {
  margin: 0 7px 0 20px;
  font-size: 15px;
}

.gift3 {
  display: flex;
  margin: 5px 10px 5px 30px;
}
.gift3__tshirt {
  width: 150px;
  height: auto;
  padding: 0 0px 60px 0px;
  margin-right: 10px;
}
.gift3__title {
  margin: 10px 0 5px 5px;
  font-size: 20px;
}
.gift3__price {
  margin: 0 0 0 5px;
  font-size: 15px;
}
.gift3__line {
  margin: 5px 150px 5px 10px;
}
.gift3__description {
  margin: 0 10px 0 5px;
  font-size: 15px;
}

.gift4 {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px 30px 5px 10px;
}
.gift4__mug {
  width: 150px;
  padding: 0 0px 60px 0px;
  margin-right: 10px;
}
.gift4__title {
  margin: 10px 0 0 20px;
  font-size: 20px;
}
.gift4__price {
  margin: 0 0 0 20px;
  font-size: 15px;
}
.gift4__line {
  margin: 5px 150px 5px 22px;
}
.gift4__description {
  margin: 0 0 0 20px;
  font-size: 15px;
}

.gift5 {
  display: flex;
  margin: 5px 10px 5px 30px;
}
.gift5__tin-mug {
  width: 150px;
  padding: 0 0px 60px 0px;
  margin-right: 10px;
}
.gift5__title {
  margin: 10px 0 5px 5px;
  font-size: 20px;
}
.gift5__price {
  margin: 0 0 0 5px;
  font-size: 15px;
}
.gift5__line {
  margin: 5px 150px 5px 10px;
}
.gift5__description {
  margin: 0 10px 0 5px;
  font-size: 15px;
}

.produkty-info {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 0 10px 5px 10px;
}

@media screen and (min-width: 640px) {
  .gifts-title {
    font-size: 35px;
  }

  .gift1 {
    margin: 5px 10px 5px 50px;
  }
  .gift1__bag {
    width: 300px;
  }
  .gift1__title {
    margin: 30px 0 5px 20px;
    font-size: 28px;
  }
  .gift1__price {
    margin: 0 0 0 20px;
    font-size: 20px;
  }
  .gift1__line {
    margin: 5px 150px 5px 20px;
  }
  .gift1__description {
    margin: 0 10px 0 20px;
    font-size: 20px;
  }

  .gift2 {
    margin: 5px 50px 5px 10px;
  }
  .gift2__hoodie {
    width: 300px;
    margin: 15px 20px 5px 50px;
  }
  .gift2__title {
    font-size: 28px;
    margin-left: 40px;
  }
  .gift2__price {
    font-size: 20px;
    margin-left: 40px;
  }
  .gift2__line {
    margin: 5px 230px 5px 40px;
  }
  .gift2__description {
    margin: 0 40px 0 40px;
    font-size: 20px;
  }

  .gift3 {
    margin: 5px 10px 5px 50px;
  }
  .gift3__tshirt {
    width: 300px;
  }
  .gift3__title {
    margin: 30px 0 5px 20px;
    font-size: 28px;
  }
  .gift3__price {
    margin: 0 0 0 20px;
    font-size: 20px;
  }
  .gift3__line {
    margin: 5px 270px 5px 20px;
  }
  .gift3__description {
    margin: 0 80px 0 20px;
    font-size: 20px;
  }

  .gift4 {
    margin: 5px 50px 5px 10px;
  }
  .gift4__mug {
    width: 300px;
    margin: 15px 20px 5px 50px;
  }
  .gift4__title {
    font-size: 28px;
    margin-left: 40px;
  }
  .gift4__price {
    font-size: 20px;
    margin-left: 40px;
  }
  .gift4__line {
    margin: 5px 200px 5px 40px;
  }
  .gift4__description {
    margin: 0 40px 0 40px;
    font-size: 20px;
  }

  .gift5 {
    margin: 5px 10px 5px 50px;
  }
  .gift5__tin-mug {
    width: 300px;
  }
  .gift5__title {
    margin: 30px 0 5px 20px;
    font-size: 30px;
  }
  .gift5__price {
    margin: 0 0 5px 20px;
    font-size: 20px;
  }
  .gift5__line {
    margin: 5px 80px 5px 20px;
  }
  .gift5__description {
    margin: 0 10px 0 20px;
    font-size: 20px;
  }

  .produkty-info {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0 20px 5px 20px;
  }
}
@media screen and (min-width: 1040px) {
  .gifts-title {
    font-size: 50px;
  }

  .gift-box1 {
    display: flex;
  }

  .gift1 {
    width: 50%;
    margin: 10px 50px 10px 50px;
  }
  .gift1__bag {
    width: 250px;
  }
  .gift1__title {
    margin: 40px 0 5px 20px;
    font-size: 30px;
  }
  .gift1__price {
    font-size: 25px;
    margin: 0 0 5px 20px;
  }
  .gift1__description {
    font-size: 20px;
  }

  .gift2 {
    width: 50%;
    flex-direction: row;
    margin: 5px;
  }
  .gift2__hoodie {
    width: 350px;
    margin: 45px 0 0 0;
  }
  .gift2__title {
    margin: 70px 0 5px 20px;
    font-size: 30px;
  }
  .gift2__price {
    font-size: 25px;
    margin-left: 20px;
  }
  .gift2__description {
    font-size: 20px;
    margin-left: 20px;
  }
  .gift2__line {
    margin: 5px 80px 5px 20px;
  }

  .gift-box2 {
    display: flex;
  }

  .gift3 {
    width: 50%;
    margin: 10px 50px 10px 50px;
  }
  .gift3__tshirt {
    width: 245px;
  }
  .gift3__title {
    margin: 40px 0 5px 20px;
    font-size: 30px;
  }
  .gift3__price {
    font-size: 25px;
    margin: 0 0 5px 20px;
  }
  .gift3__description {
    font-size: 20px;
    margin: 0 20px 5px 20px;
  }
  .gift3__line {
    margin: 0 160px 0 20px;
  }

  .gift4 {
    width: 50%;
    flex-direction: row;
    margin: 5px;
  }
  .gift4__mug {
    width: 350px;
    margin: 45px 0 0 0;
  }
  .gift4__title {
    margin: 70px 0 5px 20px;
    font-size: 30px;
  }
  .gift4__price {
    font-size: 25px;
    margin-left: 20px;
  }
  .gift4__description {
    font-size: 20px;
    margin-left: 20px;
  }
  .gift4__line {
    margin: 5px 80px 5px 20px;
  }

  .gift5 {
    width: 50%;
    margin: 10px 50px 10px 50px;
  }
  .gift5__tin-mug {
    width: 250px;
  }
  .gift5__title {
    margin: 40px 0 5px 20px;
    font-size: 30px;
  }
  .gift5__price {
    font-size: 25px;
    margin: 0 0 5px 20px;
  }
  .gift5__description {
    font-size: 20px;
  }
  .gift5__line {
    margin: 0 110px 0 20px;
  }
  .gift5__line {
    margin: 0 60px 0 20px;
  }
}
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}/*# sourceMappingURL=style.css.map */