@charset "UTF-8";
body {
  padding: 0;
  line-height: 1.5;
  width: 500px;
  margin: auto;
  font-family: "Cormorant SC", serif;
}

.header {
  margin: auto;
  font-size: 15px;
}

.header-phone {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 0 360px;
}

.logo-white {
  width: 250px;
  margin: 0 0 0 130px;
}

.menu {
  font-weight: bold;
  margin: 0 0 20px 20px;
  font-size: 20px;
}
.menu__item {
  text-decoration: none;
  margin-bottom: 15px;
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__toggler {
  cursor: pointer;
}
.menu__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu__link {
  display: block;
  padding: 15px;
  text-decoration: none;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}

a:visited {
  text-decoration: underline;
  color: black;
}

.photo {
  background-image: url(/images/Interior11.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 60px;
}
.photo__main-offer {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.photo__link-menu {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin: 20px 310px 10px -20px;
  padding: 5px;
  background-color: rgba(233, 150, 122, 0.7);
}
.photo__link-reservation {
  text-decoration: none;
  font-size: 30px;
  color: black;
  font-weight: bold;
  margin: 10px 150px 10px -20px;
  padding: 5px;
  background-color: rgba(233, 150, 122, 0.7);
}

@media screen and (min-width: 1100px) {
  body {
    width: 1300px;
    margin: auto;
    display: block;
    padding: 0;
  }

  .header-phone {
    font-weight: bold;
    font-size: 25px;
    margin: 10px 0 0 1130px;
  }

  .logo-white {
    width: 300px;
  }

  .header-pc-version {
    padding: 30px 0 30px 0;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }

  .menu {
    font-weight: bold;
    margin: 0 0 20px 20px;
    font-size: 20px;
  }
  .menu__toggler {
    display: none;
  }
  .menu__list {
    display: inline-block;
    text-decoration: none;
  }

  /*



  .menu li {
  	display: inline-block;
  	text-decoration: none;
  }

  .menu a {
  	color: #242424;
  	text-decoration: none;
  	padding: 10px 15px;
  }


  */
  .photo {
    background-image: url(/images/Interior1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 350px;
  }
  .photo__link-menu {
    font-size: 50px;
    margin-left: -300px;
  }
  .photo__link-reservation {
    font-size: 50px;
    margin-left: -300px;
  }
}
.welcome {
  font-family: "Cormorant SC", serif;
  text-align: center;
}
.welcome__title {
  font-size: 30px;
  margin: 10px 0 10px 0;
}
.welcome__name {
  font-size: 60px;
  font-family: "Zen Loop", cursive;
  margin: 0;
}
.welcome__offer {
  font-size: 20px;
  margin: 0 0 30px 0;
}

@media screen and (min-width: 1100px) {
  .welcome__title {
    font-size: 70px;
    margin: 20px 0 20px 0;
  }
  .welcome__name {
    font-size: 90px;
  }
  .welcome__offer {
    font-size: 40px;
  }
}
.box1 {
  background-color: rgba(233, 150, 122, 0.2);
  margin: 30px 0 20px 0;
  padding: 20px;
}

.presented__title {
  text-align: center;
}

.presented__description {
  font-size: 15px;
  text-align: justify;
  padding: 10px 50px 10px 50px;
}

@media screen and (min-width: 1100px) {
  .box1 {
    margin: 0;
    padding: 50px;
  }

  .presented__title {
    font-size: 40px;
    margin-top: 0;
  }

  .presented__description {
    font-size: 20px;
  }
}
.event {
  max-width: 500px;
}
.event__title {
  text-align: center;
}
.event__prosecco {
  background-image: url(/images/Prosecco.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 0 30px 20px 30px;
  border-radius: 5px;
}
.event__prosecco-name, .event__prosecco-date {
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 20px;
  text-align: center;
  color: black;
  margin: 0;
  background-color: rgba(233, 150, 122, 0.7);
}
.event__prosecco-date {
  padding-bottom: 10px;
}
.event__coffee {
  background-image: url(/images/Coffee4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 0 30px 0 30px;
  border-radius: 5px;
}
.event__coffee-name, .event__coffee-date {
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 20px;
  text-align: center;
  color: black;
  margin: 0;
  background-color: rgba(233, 150, 122, 0.7);
}
.event__coffee-date {
  padding-bottom: 10px;
}
.event__food {
  background-image: url(/images/chléb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 20px 30px 20px 30px;
  border-radius: 5px;
}
.event__food-name, .event__food-date {
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 20px;
  text-align: center;
  color: black;
  margin: 0;
  background-color: rgba(233, 150, 122, 0.7);
}
.event__food-date {
  padding-bottom: 10px;
}
.event__birthday {
  background-image: url(/images/Drink.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 20px 30px 20px 30px;
  border-radius: 5px;
}
.event__birthday-name, .event__birthday-date {
  font-size: 18px;
  font-weight: bold;
  padding-top: 15px;
  margin-top: 20px;
  text-align: center;
  color: black;
  margin: 0;
  background-color: rgba(233, 150, 122, 0.7);
}
.event__birthday-date {
  padding-bottom: 10px;
}

.prosecco-link,
.coffee-link,
.food-link,
.birthday-link {
  text-decoration: none;
}

@media screen and (min-width: 1100px) {
  .event {
    max-width: 1300px;
  }
  .event__flex-box {
    display: flex;
  }
  .event__title {
    font-size: 50px;
  }
  .event__prosecco {
    padding: 90px 30px 90px 30px;
    margin: 0 30px 20px 30px;
  }
  .event__prosecco-name, .event__prosecco-date {
    font-size: 20px;
    padding-top: 30px;
    margin: 0 20px 0 20px;
    text-align: center;
  }
  .event__coffee {
    padding: 90px 30px 90px 30px;
    margin: 0 30px 20px 30px;
  }
  .event__coffee-name, .event__coffee-date {
    font-size: 20px;
    padding-top: 30px;
    margin: 0 20px 0 20px;
    text-align: center;
  }
}
.contact {
  background-color: rgba(233, 150, 122, 0.2);
  margin-bottom: 20px;
}
.contact__title {
  font-size: 18px;
  padding: 15px 0 0 0;
  text-align: center;
}
.contact__address {
  text-align: center;
  margin: 0;
  font-size: 13px;
}
.contact__email {
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 13px;
  text-decoration: none;
}
.contact__phone {
  text-align: center;
  margin: 10px 0 0 0;
  font-size: 13px;
}

.instagram {
  width: 20px;
  margin: 20px 0 10px 230px;
}

.facebook {
  width: 18px;
  margin-bottom: 10px;
}

.accessories__gifts {
  text-align: center;
}
.accessories__bag {
  border-radius: 5px;
  margin: 0 40px 0 0;
  width: 250px;
}
.accessories__title {
  text-align: left;
  margin: 0;
}
.accessories__price {
  text-align: left;
  margin-top: 0;
}
.accessories__offer {
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  background-image: url(/images/0tin_mug.jpg);
}
.accessories__offer-desc {
  margin-top: 160px;
  font-size: 15px;
}
.accessories__tin {
  display: none;
}
.accessories__tin-title {
  display: none;
}
.accessories__tin-price {
  display: none;
}

.offer {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  margin: 10px 30px 10px 30px;
}

.reservation-title {
  text-align: center;
}

.form-field {
  margin: 10px 30px 10px 30px;
}

.form-field label {
  display: block;
  font-size: 20px;
}

.confirm-reservation {
  margin: 20px 190px 20px 190px;
}

.reguired {
  color: red;
}

.reservation-title {
  text-align: center;
}

.reservation {
  padding: 80px;
  margin: 30px 20px 30px 20px;
  border-radius: 5px;
  background-color: rgba(233, 150, 122, 0.2);
}

.photo {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

.reservation__thanks,
.reservation__mail {
  text-align: center;
  font-size: 20px;
}

.reservation__back {
  margin: 20px 90px 0 90px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: black;
  border: 1px solid black;
  padding: 10px;
}

.opening1 {
  display: flex;
  margin: 0;
}
.opening1__photo-interior {
  width: 250px;
  padding: 0;
}

.opening {
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: rgba(233, 150, 122, 0.2);
}
.opening__title {
  margin: 10px 0 0 20px;
}
.opening__description {
  margin: 0 0 10px 20px;
}
.opening__date {
  margin: 0 0 0 20px;
}

@media screen and (min-width: 1100px) {
  .opening1 {
    margin: 30px 0 0 0;
  }
  .opening1__photo-interior {
    width: 650px;
  }

  .opening {
    width: 650px;
  }
  .opening__title {
    font-size: 40px;
    margin: 80px 0 0 40px;
  }
  .opening__description {
    font-size: 30px;
    margin: 0 0 20px 40px;
  }
  .opening__date {
    font-size: 30px;
    margin: 0px 0 0 40px;
  }
}
.footer {
  color: black;
  background-color: rgba(233, 150, 122, 0.2);
  text-align: center;
  margin: auto;
  font-family: "Zen Loop", cursive;
  font-size: 9px;
  font-weight: bold;
}
.footer__summary {
  display: flex;
}
.footer__logo-white {
  width: 100px;
  margin: 10px 30px 0px 60px;
}
.footer__contact {
  font-size: 8px;
  margin: 30px 30px 0px 30px;
}
.footer__contact-address-street {
  margin: 0;
}
.footer__contact-address-town {
  margin: 0;
}
.footer__contact-link {
  margin-bottom: 0;
}
.footer__contact-phone {
  margin-top: 0;
  margin-bottom: 0;
}
.footer__hours {
  font-size: 8px;
  margin: 40px 30px 0px 30px;
}
.footer__hours-open-week {
  margin: 0;
}
.footer__hours-open-weekend {
  margin: 0;
}
.footer__name, .footer__since {
  margin: 0;
}

@media screen and (min-width: 1100px) {
  .footer {
    font-size: 25px;
  }
  .footer__logo-white {
    width: 250px;
    margin: 20px 30px 0px 90px;
  }
  .footer__contact {
    font-size: 20px;
    margin: 70px 30px 0px 200px;
  }
  .footer__hours {
    font-size: 20px;
    margin: 100px 30px 0px 280px;
  }
}
.offer__title {
  text-align: center;
  color: white;
  font-size: 30px;
}
.offer__box {
  display: flex;
  justify-content: space-between;
  margin: 0 20px 10px 30px;
}
.offer__title {
  text-align: center;
  color: white;
  font-size: 30px;
}
.offer__meal {
  margin: 0 0 0 30px;
  font-size: 16px;
  color: white;
}
.offer__line {
  margin: 0 30px 0 30px;
}
.offer__description, .offer__price {
  margin: 0 20px 20px 0;
  color: white;
  font-size: 15px;
}
.offer__h5 {
  text-align: center;
  color: white;
  font-size: 20px;
}
.offer__coffee-title, .offer__coffee-price {
  margin: 0 20px 5px 0;
  color: white;
  font-size: 15px;
}
.offer__hot-title, .offer__hot-price {
  margin: 0 20px 5px 0;
  color: white;
  font-size: 15px;
}
.offer__softd-title, .offer__softd-price {
  margin: 0 20px 5px 0;
  color: white;
  font-size: 15px;
}
.offer__alcohol-title, .offer__alcohol-price {
  margin: 0 20px 5px 0;
  color: white;
  font-size: 15px;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
  margin: 20px;
}
.gallery__item {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 90%;
  border-radius: 5px;
}
.gallery__item:first-child(5n+2) {
  grid-column: span 1;
  grid-row: span 1;
}

.logo-orange {
  width: 140px;
  border-radius: 90%;
  margin: 20px 180px 0 180px;
}

.menu-background-main {
  background-image: url(/images/cinnamon.back.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu-menu {
  color: white;
  font-weight: bold;
  margin: 0 0 20px 20px;
  font-size: 16px;
}

.menu-background-second {
  background-color: rgba(233, 150, 122, 0.5);
  padding: 15px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}

.menu__title {
  margin: 10px 140px 10px 140px;
  font-size: 30px;
}

.events__main-title {
  text-align: center;
  color: white;
  font-size: 30px;
}
.events__photo-prosecco, .events__photo-coffee {
  width: 100%;
  padding: 10px 50px 10px 50px;
  border-radius: 5px;
  opacity: 60%;
}
.events__title-prosecco, .events__title-coffee {
  text-align: center;
  color: white;
  font-size: 20px;
  margin: 0;
}
.events__date-prosecco, .events__date-coffee {
  text-align: center;
  color: white;
  font-size: 15px;
  margin: 0;
}
.events__descriptions-prosecco, .events__descriptions-coffee {
  text-align: center;
  padding: 20px;
  margin: 0;
  color: white;
}

.gifts-title {
  text-align: center;
}

.gift1 {
  display: flex;
  margin: 5px 30px 5px 30px;
}
.gift1__bag {
  width: 200px;
  padding: 0 0px 60px 0px;
  margin-right: 10px;
}
.gift1__title {
  margin: 10px 0 5px 0;
  font-size: 20px;
}
.gift1__price {
  margin: 0;
}
.gift1__line {
  margin: 5px 120px 5px 0;
}

.gift2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px 30px 5px 30px;
}
.gift2__hoodie {
  width: 250px;
  padding: 0 0px 60px 0px;
  margin-right: 10px;
}
.gift2__title {
  margin: 10px 0 5px 0;
  font-size: 20px;
}
.gift2__price {
  margin: 0;
}
.gift2__line {
  margin: 5px 120px 5px 0;
}

.gift3 {
  display: flex;
  margin: 5px 30px 5px 30px;
}
.gift3__tshirt {
  width: 200px;
  padding: 0 0px 60px 0px;
  margin-right: 10px;
}
.gift3__title {
  margin: 10px 0 5px 0;
  font-size: 20px;
}
.gift3__price {
  margin: 0;
}
.gift3__line {
  margin: 5px 120px 5px 0;
}

.gift4 {
  display: flex;
  flex-direction: row-reverse;
  margin: 5px 30px 5px 30px;
}
.gift4__mug {
  width: 250px;
  padding: 0 0px 60px 0px;
  margin-right: 10px;
}
.gift4__title {
  margin: 10px 0 5px 0;
  font-size: 20px;
}
.gift4__price {
  margin: 0;
}
.gift4__line {
  margin: 5px 120px 5px 0;
}

.gift5 {
  display: flex;
  margin: 5px 30px 5px 30px;
}
.gift5__tin-mug {
  width: 200px;
  padding: 0 0px 60px 0px;
  margin-right: 10px;
}
.gift5__title {
  margin: 10px 0 5px 0;
  font-size: 20px;
}
.gift5__price {
  margin: 0;
}
.gift5__line {
  margin: 5px 120px 5px 0;
}

html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}/*# sourceMappingURL=style.css.map */