@use "colors";
@use "fonts";

.event {
	max-width: 500px;

&__title {
        text-align: center; 
    }

&__prosecco {
        background-image: url(/images/1Prosecco.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        margin: 0 70px 20px 70px;
        border-radius: 5px;
    }

&__prosecco-name,
&__prosecco-date {
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        margin-top: 20px;
        text-align: center;
        color: black;
        margin: 0;
        background-color: rgba($color: colors.$color-primary, $alpha: 0.2);
    }

&__prosecco-date {
        padding-bottom: 10px;
    }
    
&__coffee {
        background-image: url(/images/Coffee44.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        margin: 0 70px 0 70px;
        border-radius: 5px;
    }

&__coffee-name,
&__coffee-date {
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        margin-top: 20px;
        text-align: center;
        color: black;
        margin: 0;
        background-color: rgba($color: colors.$color-primary, $alpha: 0.2);
    }
    
&__coffee-date {
        padding-bottom: 10px;
    }
}

.prosecco-link,
.coffee-link {
    text-decoration: none;
}