@use "colors";
@use "fonts";

.event {
max-width: 500px;

&__title {
        text-align: center; 
    }

&__prosecco {
        background-image: url(/images/Prosecco.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        margin: 0 30px 20px 30px;
        border-radius: 5px;
    }

&__prosecco-name,
&__prosecco-date {
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        margin-top: 20px;
        text-align: center;
        color: black;
        margin: 0;
        background-color: rgba($color: colors.$color-primary, $alpha: 0.7);
    }

&__prosecco-date {
        padding-bottom: 10px;
    }
    
&__coffee {
        background-image: url(/images/Coffee4.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        margin: 0 30px 0 30px;
        border-radius: 5px;
    }

&__coffee-name,
&__coffee-date {
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        margin-top: 20px;
        text-align: center;
        color: black;
        margin: 0;
        background-color: rgba($color: colors.$color-primary, $alpha: 0.7);
    }
    
&__coffee-date {
        padding-bottom: 10px;
    }

&__food {
        background-image: url(/images/chléb.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        margin: 20px 30px 20px 30px;
        border-radius: 5px;
    }

&__food-name,
&__food-date {
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        margin-top: 20px;
        text-align: center;
        color: black;
        margin: 0;
        background-color: rgba($color: colors.$color-primary, $alpha: 0.7);
    }

&__food-date {
        padding-bottom: 10px;
    }

&__birthday {
        background-image: url(/images/Drink.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 20px;
        margin: 20px 30px 20px 30px;
        border-radius: 5px;
    }

&__birthday-name,
&__birthday-date {
        font-size: 18px;
        font-weight: bold;
        padding-top: 15px;
        margin-top: 20px;
        text-align: center;
        color: black;
        margin: 0;
        background-color: rgba($color: colors.$color-primary, $alpha: 0.7);
    }

&__birthday-date {
        padding-bottom: 10px;
    }
}

.prosecco-link,
.coffee-link,
.food-link,
.birthday-link {
    text-decoration: none;
}

@media screen and (min-width: 1100px) {

.event {
	max-width: 1300px;

&__flex-box {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

&__title {
        font-size: 50px; 
    }

&__prosecco {
    padding: 40px 20px 40px 20px;
    margin: 10px 20px 10px 20px;
    width: 300px;
}

&__prosecco-name,
&__prosecco-date {
    font-size: 25px;
    padding: 10px;
    margin: 0 20px 0 20px; 
}
    
&__coffee {
    padding: 40px 20px 40px 20px;
    margin: 10px 20px 10px 20px;
    width: 300px;
}

&__coffee-name,
&__coffee-date {
    font-size: 25px;
    padding: 15px;
    margin: 0 10px 0 10px;  
}
    
&__food {
    padding: 40px 20px 40px 20px;
    margin: 10px 20px 10px 20px;
    width: 300px;
}

&__food-name,
&__food-date {
    font-size: 25px;
    padding: 10px;
    margin: 0 20px 0 20px; 
}

&__birthday {
    padding: 40px 20px 40px 20px;
    margin: 10px 20px 10px 20px;
    width: 300px;
}

&__birthday-name,
&__birthday-date {
    font-size: 25px;
    padding: 10px;
    margin: 0 20px 0 20px;  
        
}


}











    
}