@use "colors";
@use "fonts";

.events {

&__main-title {
    text-align: center;
    color:white;
    font-size: 40px;
}
    
&__photo-prosecco,
&__photo-coffee,
&__photo-bread,
&__photo-drink {
    display: none;
}
    
&__title-prosecco,
&__title-coffee,
&__title-bread,
&__title-drink {
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0;
}
    
&__date-prosecco,
&__date-coffee,
&__date-bread,
&__date-drink {
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 0;
}
    
&__descriptions-prosecco,
&__descriptions-coffee,
&__descriptions-bread,
&__descriptions-drink {
    text-align: center;
    padding: 20px;
    margin: 0;
    color: white;
}

}

.events-line1 {
    margin: 0 30px 3px 30px;
}

.events-line2 {
    margin: 0 50px 5px 50px;
}