@use "colors";
@use "fonts";

.footer {
	color: black;
	background-color: rgba($color: colors.$color-primary, $alpha: 0.2);
	text-align: center;
	margin: auto;
	font-family: fonts.$secondary-font;
	font-size: 9px;
	font-weight: bold;

&__summary {
		display: flex;
	}

&__logo-white {
	width: 100px;
	margin: 10px 30px 0px 60px;
}

&__contact {
	font-size: 8px;
	margin: 30px 30px 0px 30px;
}

&__contact-address-street {
	margin: 0;
}

&__contact-address-town {
	margin: 0;
}

&__contact-link {
	margin-bottom: 0;
}

&__contact-phone {
	margin-top: 0;
	margin-bottom: 0;
}


&__hours {
	font-size: 8px;
	margin: 40px 30px 0px 30px;
}

&__hours-open-week {
	margin: 0;
}

&__hours-open-weekend {
	margin: 0;
}

&__name,
&__since {
    margin: 0;
}
}

@media screen and (min-width: 1100px) {

.footer {
	font-size: 25px;

&__logo-white {
	width: 250px;
	margin: 20px 30px 0px 90px;
}

&__contact {
	font-size: 20px;
	margin: 70px 30px 0px 200px;
}

&__hours {
	font-size: 20px;
	margin: 100px 30px 0px 280px;
}

}

}