@use "colors";
@use "fonts";


.reservation-title {
	text-align: center;
}

.form-field {
	margin: 10px 30px 10px 30px;
}

.form-field label {
	display: block;
	font-size: 20px;
	
}

.confirm-reservation {
	margin: 20px 50px 30px 190px;
}

.reguired {
	color: red;
}

.reservation-title {
	text-align: center;
}

.reservation {
	padding: 80px;
	margin: 30px 20px 30px 20px;
	border-radius: 5px;
	background-color: rgba($color: colors.$color-primary, $alpha: 0.2);
}

.photo {
	display: flex;
	flex-direction: column;
	font-size: 25px;
}

.gdpr {
	margin-left: 30px;
}

/*
@media screen and (min-width: 1100px) {

.reservation-title {
	font-size: 60px;
}

.form-field {
	margin: 10px 60px 10px 150px;
}

.form-field label {
	font-size: 30px;
}

.confirm-reservation {
	margin: 20px 190px 20px 150px;
}

.reguired {
	color: red;
}

.reservation {
	padding: 80px;
	margin: 30px 20px 30px 20px;
	border-radius: 5px;
	background-color: rgba($color: colors.$color-primary, $alpha: 0.2);
}

.gdpr {
	margin: 30px;
}





}*/