@use "colors";
@use "fonts";


.reservation-title {
	text-align: center;
	font-size: 25px;
}

.form-field {
	margin: 10px 30px 10px 30px;
}

.form-field label {
	display: block;
	font-size: 17px;
	
}

.confirm-reservation {
	margin: 20px 50px 30px 190px;
}

.reguired {
	color: red;
}

.reservation {
	padding: 80px;
	margin: 30px 20px 30px 20px;
	border-radius: 5px;
	background-color: rgba($color: colors.$color-primary, $alpha: 0.2);
}

.gdpr {
	margin-left: 30px;
}

.form-field input {
	width: 80%;
}

@media screen and (min-width: 640px) {

.reservation-title {
	font-size: 35px;
}

.form-field {
	margin: 10px 30px 10px 170px;
}

.form-field label {
	font-size: 25px;
}

.confirm-reservation {
	margin: 20px 50px 30px 400px;
}

.gdpr {
	margin-left: 170px;
}}

@media screen and (min-width: 1040px) {

.reservation-title {
	text-align: center;
	font-size: 50px;
}

.form-field {
	margin: 10px 300px 10px 500px;
}

.form-field label {
	font-size: 27px;
}

.confirm-reservation {
	margin: 20px 100px 30px 650px;
}

.gdpr {
	margin-left: 500px;
}

.form-field input {
	width: 70%;
}

}
