@use "colors";
@use "fonts";

.gifts-title {
    text-align: center;
}

.gift1 {
    display: flex;
    margin: 5px 10px 5px 30px;

&__bag {
    width: 150px;
    padding: 0 0px 60px 0px;
    margin-right: 10px;
}
    
&__title {
    margin: 10px 0 5px 5px;
    font-size: 20px;
}
    
&__price {
    margin: 0 0 0 5px;
}
    
&__line {
    margin: 5px 150px 5px 5px;
}

&__description {
    margin: 0 10px 0 5px;
}

}

.gift2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 30px 5px 10px;

&__hoodie {
    width: 200px;
    padding: 0 0px 60px 0px;
    margin-right: 10px;
}
    
&__title {
    margin: 10px 0 0 20px;
    font-size: 20px;
}
    
&__price {
    margin: 0 0 0 20px;
}
    
&__line {
    margin: 5px 90px 5px 20px;
}

&__description {
    margin: 0 0 0 20px;
}

}


.gift3 {
    display: flex;
    margin: 5px 10px 5px 30px;

&__tshirt {
    width: 150px;
    padding: 0 0px 60px 0px;
    margin-right: 10px;
}
    
&__title {
    margin: 10px 0 5px 5px;
    font-size: 20px;
}
    
&__price {
    margin: 0 0 0 5px;
}
    
&__line {
    margin: 5px 150px 5px 5px;
}

&__description {
    margin: 0 10px 0 5px;
}

}

.gift4 {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 30px 5px 10px;

&__mug {
    width: 200px;
    padding: 0 0px 60px 0px;
    margin-right: 10px;
}
    
&__title {
    margin: 10px 0 0 20px;
    font-size: 20px;
}
    
&__price {
    margin: 0 0 0 20px;
}
    
&__line {
    margin: 5px 90px 5px 20px;
}

&__description {
    margin: 0 0 0 20px;
}

}

.gift5 {
    display: flex;
    margin: 5px 10px 5px 30px;
    

&__tin-mug {
    width: 150px;
    padding: 0 0px 60px 0px;
    margin-right: 10px;
}
    
&__title {
    margin: 10px 0 5px 5px;
    font-size: 20px;
}
    
&__price {
    margin: 0 0 0 5px;
}
    
&__line {
    margin: 5px 150px 5px 5px;
}

&__description {
    margin: 0 10px 0 5px;
}

}

@media screen and (min-width: 1100px) {

.gifts-title {
    font-size: 50px;
}

.gift-box1 {
    display: flex;
}

.gift1 {
    margin: 5px 30px 5px 30px;

&__bag {
    width: 250px;
    padding: 0 0px 90px 0px;
    margin-right: 30px;
    }
    
&__title {
    margin: 30px 0 5px 0;
    font-size: 30px;
    }
    
&__price {
    font-size: 30px;
    }
    
&__description {
    font-size: 20px;
}

}

.gift2 {
    flex-direction: row;
    margin: 20px 30px 5px 30px;

&__bag {
    width: 500px;
    padding: 0 0px 90px 0px;
    margin-right: 30px;
    }
    
&__title {
    margin: 30px 0 5px 0;
    font-size: 30px;
    }
    
&__price {
    font-size: 30px;
    }
    
&__description {
    font-size: 20px;
}

}

.gift-box2 {
    display: flex;
}

.gift3 {
    margin: 5px 30px 5px 30px;

&__bag {
    width: 300px;
    padding: 0 0px 110px 0px;
    margin-right: 30px;
    }
    
&__title {
    margin: 30px 0 5px 0;
    font-size: 30px;
    }
    
&__price {
    font-size: 30px;
    }
    
&__description {
    font-size: 20px;
}

}


















.gift4 {
    flex-direction: row;
    margin: 5px 30px 5px 30px;
}















}