@use "colors";
@use "fonts";

.gifts-title {
    text-align: center;
}

.gift1 {
    display: flex;
    margin: 5px 10px 5px 30px;

&__bag {
    max-width: 100%;
    height: auto;
    padding: 0 0px 60px 0px;
    margin-right: 10px;
}
    
&__title {
    margin: 10px 0 5px 5px;
    font-size: 20px;
}
    
&__price {
    margin: 0 0 0 5px;
}
    
&__line {
    margin: 5px 150px 5px 5px;
}

&__description {
    margin: 0 10px 0 5px;
}

}

.gift2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 30px 5px 10px;

&__hoodie {
    max-width: 100%;
    height: auto;
    padding: 0 0px 60px 0px;
    margin-right: 10px;
}
    
&__title {
    margin: 10px 0 0 20px;
    font-size: 20px;
}
    
&__price {
    margin: 0 0 0 20px;
}
    
&__line {
    margin: 5px 90px 5px 20px;
}

&__description {
    margin: 0 0 0 20px;
}

}


.gift3 {
    display: flex;
    margin: 5px 10px 5px 30px;

&__tshirt {
    max-width: 100%;
    height: auto;
    padding: 0 0px 60px 0px;
    margin-right: 10px;
}
    
&__title {
    margin: 10px 0 5px 5px;
    font-size: 20px;
}
    
&__price {
    margin: 0 0 0 5px;
}
    
&__line {
    margin: 5px 150px 5px 5px;
}

&__description {
    margin: 0 10px 0 5px;
}

}

.gift4 {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 30px 5px 10px;

&__mug {
    max-width: 100%;
    height: auto;
    padding: 0 0px 60px 0px;
    margin-right: 10px;
}
    
&__title {
    margin: 10px 0 0 20px;
    font-size: 20px;
}
    
&__price {
    margin: 0 0 0 20px;
}
    
&__line {
    margin: 5px 90px 5px 20px;
}

&__description {
    margin: 0 0 0 20px;
}

}

.gift5 {
    display: flex;
    margin: 5px 10px 5px 30px;
    

&__tin-mug {
    max-width: 100%;
    height: auto;
    padding: 0 0px 60px 0px;
    margin-right: 10px;
}
    
&__title {
    margin: 10px 0 5px 5px;
    font-size: 20px;
}
    
&__price {
    margin: 0 0 0 5px;
}
    
&__line {
    margin: 5px 150px 5px 5px;
}

&__description {
    margin: 0 10px 0 5px;
}

}

@media screen and (min-width: 640px) {

.gifts-title {
    font-size: 50px;
}

.gift1 {
    margin: 5px 10px 5px 50px;

&__bag {
    width: 300px;
}
    
&__title {
    margin: 30px 0 5px 20px;
    font-size: 30px;
}
    
&__price {
    margin: 0 0 0 20px;
    font-size: 25px;
}
    
&__line {
    margin: 5px 150px 5px 20px;
}

&__description {
    margin: 0 10px 0 20px;
    font-size: 25px;
}

}

.gift2 {
    margin: 5px 50px 5px 10px;

&__hoodie {
    width: 300px;
}
    
&__title {
    font-size: 25px;
}
    
&__price {
    font-size: 25px;
}
    
&__line {
    margin: 5px 90px 5px 20px;
}

&__description {
    margin: 0 40px 0 20px;
    font-size: 25px;
}

}


.gift3 {
    margin: 5px 10px 5px 50px;

&__tshirt {
    width: 300px;
}
    
&__title {
    margin: 30px 0 5px 20px;
    font-size: 30px;
}
    
&__price {
    margin: 0 0 0 20px;
    font-size: 25px;
}
    
&__line {
    margin: 5px 150px 5px 20px;
}

&__description {
    margin: 0 10px 0 20px;
    font-size: 25px;
}

}

.gift4 {
    margin: 5px 50px 5px 10px;

&__mug {
    width: 300px;
}
    
&__title {
    font-size: 25px;
}
    
&__price {
    font-size: 25px;
}
    
&__line {
    margin: 5px 90px 5px 20px;
}

&__description {
    margin: 0 40px 0 20px;
    font-size: 25px;
}

}

.gift5 {
    margin: 5px 10px 5px 50px;
    
&__tin-mug {
    width: 300px;
}
    
&__title {
    margin: 30px 0 5px 20px;
    font-size: 30px;
}
    
&__price {
    margin: 30px 0 5px 20px;
    font-size: 30px;
}
    
&__line {
    margin: 5px 150px 5px 5px;
}

&__description {
    margin: 0 10px 0 20px;
    font-size: 25px;
}

}


}














