@use "colors";
@use "fonts";

.offer {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	margin: 10px 30px 10px 30px;
}

.accessories {

&__gifts {
	text-align: center;
}

&__bag {
	border-radius: 5px;
	margin: 0 40px 0 0;
	width: 200px;
	}
	
&__title {
	text-align: left;
	margin: 0;
	}
	
&__price {
	text-align: left;
	margin-top: 0;
	}

&__offer {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	background-image: url(/images/0tin_mug.jpg);
	border-radius: 10px;
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	}

&__offer-desc {
	margin-top: 120px;
	font-size: 15px;
	}

&__tin {
	display: none;
}

&__tin-title {
	display: none;
	}
	
&__tin-price {
	display: none;
	}

}

@media screen and (min-width: 1100px) {

.accessories {
	width: 100%;

.offer-box {
		display: flex;
		flex-direction: row-reverse;
	}

&__gifts {
	font-size: 60px;
}

&__bag {
	border-radius: 5px;
	margin: 0;
	width: 300px;
	}
	
&__title {
	font-size: 30px;
	margin-top: 20px;
	}
	
&__price {
	font-size: 25px;
	}
	
&__offer {
	width: 300px;
	margin: 0;
	padding: 0;
}
	
&__offer-desc {
	font-size: 25px;
	margin: 140px 30px;
	}

&__tin {
	display: block;
	border-radius: 5px;
	margin: 0;
	width: 335px;
}

&__tin-title {
	display: block;
	margin: 20px 0 0 0;
	font-size: 30px;
	}
	
&__tin-price {
	display: block;
	font-size: 25px;
	margin: 0;
	}

}

.accessories-box {
	padding-top: 40px;
}

.accessories__bag:hover {
	transform: scale(1.1);
}

.accessories__tin:hover {
	transform: scale(1.1);
}

}
