@use "colors";
@use "fonts";

.offer {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	margin: 10px 30px 10px 30px;
}

.accessories {

&__gifts {
	text-align: center;
}

&__bag {
	border-radius: 5px;
	margin: 0 40px 0 0;
	width: 200px;
	}
	
&__title {
	text-align: left;
	margin: 0;
	}
	
&__price {
	text-align: left;
	margin-top: 0;
	}

&__offer {
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	background-image: url(/images/0tin_mug.jpg);
	color: white;
	padding: 10px;
	margin-bottom: 20px;
	}

&__offer-desc {
	margin-top: 120px;
	font-size: 15px;
	}

&__tin {
	display: none;
}

&__tin-title {
	display: none;
	}
	
&__tin-price {
	display: none;
	}

}

@media screen and (min-width: 640px) {

.offer {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
	margin: 10px 30px 10px 30px;
}

.accessories {

&__gifts {
	font-size: 50px;
}

&__bag {
	margin: 0 40px 0 30px;
	width: 300px;
}
	
&__title {
	font-size: 25px;
	font-weight: bold;
	margin: 5px 0 0 30px;
	}
	
&__price {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 0 30px;
	}

&__offer {
	font-size: 30px;
	padding: 0;
	margin: 5px 20px 20px 60px;
	}

&__offer-desc {
	margin-top: 120px;
	font-size: 30px;
	padding: 40px 40px 40px 10px;
	}

}


}



@media screen and (min-width: 1040px) {

.accessories {
	width: 1400px;

.offer-box {
		display: flex;
		flex-direction: row-reverse;
	}

&__gifts {
	font-size: 60px;
}

&__bag {
	width: 320px;
	margin: 0 0 0 -10px;
	}
	
&__title {
	font-size: 30px;
	margin: 20px 0 0 -10px;
	}
	
&__price {
	font-size: 25px;
	margin-left: -10px;
	}
	
&__offer {
	width: 300px;
	margin: 0;
}
	
&__offer-desc {
	font-size: 25px;
	margin: 80px 40px;
	color: white;
	}

&__tin {
	display: block;
	border-radius: 5px;
	margin: 5px 0 0 5px;
	width: 350px;
}

&__tin-title {
	display: block;
	margin: 20px 0 0 0;
	font-size: 30px;
	font-weight: bold;
	}
	
&__tin-price {
	display: block;
	font-size: 25px;
	margin: 0;
	font-weight: bold;
	}

}

.accessories-box {
	padding-top: 40px;
}

.accessories__bag:hover {
	transform: scale(1.1);
}

.accessories__tin:hover {
	transform: scale(1.1);
}

}




