@use "colors";
@use "fonts";


.box1 {
	background-color: rgba($color: colors.$color-primary, $alpha: 0.2);
	margin: 30px 0 20px 0;
	width: 500px;
	padding: 20px;
}

.presented__title {
	font-size: 25px;
	text-align: center;
}

.presented__description {
	font-size: 15px;
    padding: 5px 50px 5px 50px;
}


@media screen and (min-width: 640px) {

.box1 {
	width: 900px;
}

.presented__title {
	font-size: 35px;
	margin: 10px 0 10px 0;
}

.presented__description {
	font-size: 25px;
}

}

@media screen and (min-width: 1040px) {

.box1 {
	width: 1400px;
}

.presented__title {
	font-size: 50px;
}

.presented__description {
	font-size: 30px;
}

}
