@use "colors";
@use "fonts";

.second-header-phone {
	font-weight: bold;
	font-size: 20px;
	margin: 0 0 0 360px;
}

.logo-orange {
	width: 30%;
	border-radius: 90%;
	margin: 20px 180px 0 170px;
}

.menu-background-main {
	background-image: url(/images/Cinnamon\ Rolls.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.second-menu__mobile {
	font-weight: bold;
	margin: 0 0 20px 0;
	font-size: 25px;
	background-color: rgba($color: colors.$color-primary, $alpha: 0.8);
	padding: 0;
}	

.second-menu {
	font-weight: bold;
	margin: 0 0 20px 20px;
	align-content: left;
	margin: 0;
	font-size: 20px;
	color: white;

&__item {
	margin: 20px;
	text-decoration: none;
	margin-bottom: 15px;
	}

&__checkbox {
	position: absolute;
	left: -9999px;
	}

&__toggler {
		cursor: pointer;
		margin: 20px;
	}

&__list {
		display: none;
		margin: 0;
		padding: 0;
		list-style: none;
	}

&__link {
		display: block;
		padding: 15px;
		text-decoration: none;
	}

&__checkbox:checked ~ .second-menu__list {
		display: block;
	}

}

a:visited {
	text-decoration: underline;
	color: black;
}

.menu-background-second {
	background-color: rgba($color: colors.$color-primary, $alpha: 0.8);
	padding: 15px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
}

.menu__title {
	margin: 10px 140px 10px 140px;
	font-size: 30px;
}

@media screen and (min-width: 640px) {

.second-header-phone {
	font-size: 30px;
	margin: 0 0 0 690px;
}

.logo-orange {
	width: 350px;
	margin: 20px 180px 0 260px;
}	

.second-menu {
	margin: 0 0 20px 30px;
	font-size: 40px;
}

.menu-background-second {
	padding: 30px;
	margin: 30px 30px 0 30px;
}

}

@media screen and (min-width: 1040px) {


.second-header-phone {
	font-size: 25px;
	margin: 0 0 0 1220px;
}

.logo-orange {
	width: 250px;
	margin: 50px 0 20px 100px
}

.second-menu {
	margin: 120px 130px 0 0;
    font-size: 30px;

&__toggler {
		display: none;
	}

&__list {
		display:inline-block;
	}

&__link {
	color: black;
    padding: 10px 15px;
	background-color: rgba($color: colors.$color-primary, $alpha: 0.8);
	font-size: 25px;
	border-radius: 10px;
}

}

.second-menu li {
	display: inline-block;
	text-decoration: none;
}

.second-menu a:hover {
    text-decoration: underline;
    color: white;
}

.menu-background-second {
	background-color: rgba($color: colors.$color-primary, $alpha: 0.8);
	padding: 60px;
	margin: 0 90px 0 90px;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
}




}











