@use "colors";
@use "fonts";

.welcome {
	font-family: fonts.$default-font;
	text-align: center;

&__title {
        font-size: 30px;
        margin: 10px 0 10px 0;
    }

&__name {
        font-size: 60px;
        font-family: fonts.$secondary-font;
        margin: 0;
    }

&__offer {
        font-size: 20px;
        margin: 0 0 30px 0;
    }

}

@media screen and (min-width: 1100px) {

.welcome {

&__title {
        font-size: 70px;
        margin: 20px 0 20px 0;
    }

&__name {
        font-size: 90px;
    }

&__offer {
        font-size: 40px;
    }

}

}





