@use "colors";
@use "fonts";
@use "main-template";
@use "welcome-part";
@use "presented-part";
@use "events";
@use "contacts";
@use "must-have";
@use "form-reservation";
@use "thanks-reservation";
@use "opening-hours";
@use "footer";


html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }


.logo-orange {
	width: 140px;
	border-radius: 90%;
	margin: 40px 180px 20px 180px;
}

.menu-background-main {
	background-image: url(/images/cinnamon.back.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.menu-menu {
	color: white;
	font-weight: bold;
	margin: 0 0 20px 20px;
	font-size: 16px;
}

.menu-background-second {
	background-color: rgba($color: colors.$color-primary, $alpha: 0.2);
	border-radius: 100px;
}

.menu__title {
	margin: 20px 140px 10px 140px;
	font-size: 30px;
}

.menu-line {
	color: black;
	margin: 0 40px 0 40px;
}

.reservation-menu {
	border-radius: 20px;
	background-color: colors.$color-button;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-size: 18px;
	color: black;
	margin: 20px 90px 20px 90px;
	padding: 10px;
}




