<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap" rel="stylesheet">
</head>

<body>

<header class="header">

<div class="header-phone">+420 555 666 111</div>

    <div class="header-pc-version"> 
        <a href="/"><img class="logo-white" src="/images/logo-bily-podklad.png" alt="Logo"></a>

        <nav class="menu">

           <input type="checkbox" class="menu__checkbox" id="menu-checkbox">

            <label for="menu-checkbox" class="menu__toggler">≡ Menu</label>

                    <ul class="menu__list">
                        <li class="menu__item"><a class="menu__link" href="/">Úvod</a></li>
                        <li class="menu__item"><a class="menu__link" href="/menu.html">Menu</a></li>
                        <li class="menu__item"><a class="menu__link" href="/events.html">Akce</a></li>
                        <li class="menu__item"><a class="menu__link" href="/must-have.html">Dárky</a></li>
                        <li class="menu__item"><a class="menu__link" href="/online-reservation.html">Online rezervace</a></li>
                    </ul>
        </nav>
    </div>   
    
<div class="photo">

    <div class="photo__main-offer">

        <a class="photo__link-menu" href="/menu.html">Menu</a>
        <a class="photo__link-reservation" href="/online-reservation.html">Online rezervace</a>
    
    </div>

</div>

</header>

<main class="main">

{{ content | safe }}

</main>

<footer class="footer">

<div class="footer__summary">

    <div class="footer__logo">
       <a href="/"><img class="footer__logo-white" src="/images/123.png" alt="Logo"></a> 
    </div>

    <div class="footer__contact">
        <p class="footer__contact-address-street">Tusarova  4/258</p>
        <p class="footer__contact-address-town">70 00 Praha 7</p>
    
        <p class="footer__contact-link" ><a href="mailto:zasedmerohorami@gmail.com">zasedmerohorami@gmail.com</a></p>
        <p class="footer__contact-phone" >+ 420 555 666 111</p>

    </div>

    <div class="footer__hours">
        <p class="footer__hours-open-week">Po-Pá: 8:30 – 18:00 hodin</p>
        <p class="footer__hours-open-weekend" >So: 9:00 – 20:00 hodin</p>
    </div>
</div>

    <div class="footer__name">
        <p class="footer__name">ZA SEDMERO HORAMI</p>
        <p class="footer__since">© 2022</p>
    </div>

</footer>

<script src="fslightbox.js"></script>

</body>
</html>
