<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Loop&display=swap" rel="stylesheet">
</head>
<body>

<div class="menu-background-main">

        <img class="logo-orange" src="/images/logo_podklad.png" alt="Logo">

        <nav class="menu-menu">

            <input type="checkbox" class="menu__checkbox" id="menu-checkbox">

                <label for="menu-checkbox" class="menu__toggler">≡ Menu</label>
                    <ul class="menu__list">
                        <li class="menu__item"><a class="menu__link" href="/">Úvod</a></li>
                        <li class="menu__item"><a class="menu__link" href="menu.html">Menu</a></li>
                        <li class="menu__item"><a class="menu__link" href="/online-reservation.html">Online rezervace</a></li>
                        <li class="menu__item"><a class="menu__link" href="/events.html">Akce</a></li>
                        <li class="menu__item"><a class="menu__link" href="/must-have.html">Dárky</a></li>
                    </ul>
        </nav>
    


    <!--<a class="reservation-menu" href="/online-reservation.html"><p>Online rezervace</p></a>-->
        <div class="menu-background-second">

            <main class="main">
                
                {{ content | safe }}

            </main>

        </div>

</div>


</body>
</html>